#attribution { 
    font-size: 11px; 
    display: flex;
    text-align: center; 
    margin-bottom: 1.5rem;
}


#product {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

#photo {
    width: 20.6875rem;
    
}

#photo, #card {
    border-radius: 5% 5% 0 0;

}

#text {
    margin: 1.5rem;
    margin-bottom: 3rem;
}

#explanation {
    margin-bottom: 0.9rem;
}

#bigger-price-text {
    font-size: 2rem;
    display: inline;
}

#smaller-price-text {
    font-size: 0.8rem;
    vertical-align: middle;
    

}

#explanation {
    line-height: 1.45rem;
}

#price {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

button {
    display: flex !important;
    align-items: center !important; /* Alinhar verticalmente no centro */
    gap: 10px; /* Espaçamento entre o ícone e o texto */
    background-color: #0074d9; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border: none; /* Remover a borda */
    cursor: pointer; /* Alterar o cursor ao passar o mouse */
    
}